.header {
    height: var(--header-height);
    /* background-image: linear-gradient(0, #f36433, #f53e2d); */
    background-image: linear-gradient(0, #f53e2d, #d0011b);
}

.header__navbar {
    display: flex;
    justify-content: space-between;

}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;

}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

/* .header__navbar-user:hover .header__navbar-user-menu {
    display: block;
} */

.header__navbar-user-img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.header__navbar-user-name {
    font-size: 1.4rem;
    color: var(--white-color);
    margin-left: 4px;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 7px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    display: none;
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 14px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -20px;
}

.header__navbar-user-menu::after {
    content: "";
    đisplay: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
    /* background-color: var(--text-color); */
}

.header__navbar-user-item:first-child {
    padding-top: 8px;
    /* Khoảng cách giữa item và phần trên */
}

.header__navbar-user-item-separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 14px;
    display: block;
    font-weight: 500;
}



.header__navbar-user-item a:hover {
    background-color: #f8f2f2;
    color: rgb(17, 175, 17);
}

.header__navbar-user-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.header__navbar-user-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

.has__qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}


.header__navbar-item--strong:hover+.modal {
    display: block;
}

.header__navbar-item .header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgb(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 450;

}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);

}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 4px;
}

.header__navbar-icon {
    font-size: 1.3rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* Header QR code*/
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: Hiendanlen ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -16px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;

}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}


/* Header notification */
.header__notify {
    position: absolute;
    right: 0;
    top: 118%;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 26px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;


}

.header__notify::before {
    /*tạo cái tam giác nhở*/
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 120px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.header__notify-header {
    /* height: 40px; */
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
    margin: 0;
    list-style: none;

}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
    ;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.09);
}


.header__notify-link {
    display: flex;
    width: 100%;
    padding: 8px;
    text-decoration: none;

}

.header__notify-img {
    width: 48px;
    margin-left: 8px;
    object-fit: contain;

}


.header__notify-infor {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriiotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    /* margin: auto; */
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}


/* Authen modal */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form-heading {
    font-size: 2.1rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    /* outline-color: #dbdbdb; */
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 20px;
    padding: 0 12px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-style: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0px 36px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666
}



.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 2px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


/* Header with search */

.header-with-search {
    height: var(--header-width-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-img {
    height: 50px;
    width: 100px;
    /* object-fit: contain; */
    color: var(--white-color);
    border-radius: 10px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon {
    width: 32px;
    height: 32px;
    font-size: 2rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: 3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: headerNotifyGrowth ease-in 0.2s;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    line-height: 1.4rem;
    display: none;
    z-index: 1;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh;
    overflow: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: rgba(239, 229, 224, 0.533);
    cursor: pointer;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;

}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 27px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    white-space: nowrap;
    /* Ngăn xuống dòng */
    overflow: hidden;
    /* Ẩn phần bị tràn */
    text-overflow: ellipsis;
    /* Hiển thị dấu "..." khi bị cắt */
    max-width: 200px;
    /* Giới hạn chiều rộng */
}


.header__cart-item-price {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #494848;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    height: 24px;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 0px;
    top: -29px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color)
}

.header__cart-notice {
    position: absolute;
    right: -5px;
    top: -3px;
    padding: 1px 6px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid #EE4D2D;

}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;

}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    position: relative;

}

.header__search-input:hover {
    outline: 2px solid rgb(24, 24, 24);
    outline-offset: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;


}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #959393;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    margin: 3px;
    border-radius: 2px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #eb6c53;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}



.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    /* top: 100%; */
    width: 126px;
    list-style: none;
    top: calc(100% + 6px);
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: Hiendanlen ease-in 0.5s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 1000px;
    height: 16px;
    position: absolute;
    /* background-color: red; */
    top: -16px;
    left: 0;
    /* tự code lại so voi top ban dau  */
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

.header__search-option-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}


.header__search-input:focus+.header__search-history {
    display: block;
}


/* Lịch sử tìm kiếm  */
.header__search-history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #d1cece;
    z-index: 3;
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

/* .header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
} */

.header__search-history-item:hover {
    background-color: #f9e8e8;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}



/* Danh mục gợi ý sản phẩm navbar */
.header__navbar-sanpham {
    height: 24px;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
}

.header__navbar-list-sp {
    display: flex;
    padding: 0 12px;
    margin: 0;
    list-style: none;
}

.header__navbar-item-sp {
    padding: 8px 12px;
    /* cursor: pointer; */
}

.header__navbar-link-sp {
    color: var(--white-color);
    display: block;
    width: 100%;
    line-height: 1.3rem;
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;

}

.header__navbar-link-sp:hover {
    color: #dcb9b9;

}



/* APP Container */
.app__container {
    background-color: #f5f5f5;
    /* height: 500px; */
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    margin: 0;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(216, 61, 30, 0.1);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 9px;
}

.category-title {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 2px 24px;
    color: var(--primary-color);
    margin: 4px 0;
    position: relative;

}


.category-title::before {
    position: absolute;
    top: 50%;
    left: 8px;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(-50% - 1px));
    margin-left: 4px;

}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e9e8e8;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

/* .category-item--active .category-item__link {
    color: var(--primary-color);
} */


/*  Tam giac sản phẩm */
/* .category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 8px;
    content: "";
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(-50% - 1px));
} */


.category-item__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -2px;
    color: var(--primary-color);
}




/* Home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 94px;
    font-size: 1.4rem;
    margin-right: 8px;
    cursor: pointer;
}

.home-filter__btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    margin-right: 22px;
    color: var(--text-color);

}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 2px #878181;

}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--bam_ok:hover {
    background-color: #efeaea;

}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.2rem;
    color: #ccc
}


/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    cursor: pointer;
    text-decoration: none;
}

.home-product-item:hover {
    top: -1px;
    /* transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07); */
}

.home-product-item__img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;


}

.home-product-item__price {
    max-width: 100%;
    display: flex;
    align-items: baseline;
    /* Nếu cho cùng 1 dòng */
    flex-wrap: wrap;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    width: 100%;
    margin-left: 12px;
    font-weight: 500;
}


.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}


/* Của vinh  */
.home-product-item__like {
    cursor: pointer;

}

.home-product-item__like-icon-empty {
    color: var(--text-color);
    font-size: 1.3rem;
}

.home-product-item__like-icon-fill {
    color: #F63D30;
    font-size: 1.4rem;
    display: none;
}



/* Của f8  */
/* .home-product-item__like {
    font-size: 1.4rem;
}

.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
} */



.home-product-item__rating {
    font-size: 0.9rem;
    /* font-size: 1rem;
    transform: scale(0.7);
    transform-origin: right; */
    color: #cdc8c8;
    cursor: default;
    margin: -1px 0 0 auto;

}

.home-product-item__start--gold {
    color: var(--start-gold-color);
}

.home-product-item__sold {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__brand {}

.home-product-item__origin-name {}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: #d0011b;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 5px;
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    bottom: -3px;
    border-top: 5px solid currentColor;
    border-left: 5px solid transparent;
    filter: brightness(80%);

}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 1rem;
    margin: 0 2px 0 4px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5.5px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);

}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
    top: 2px;
    position: relative;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    position: relative;
    top: 2px;

}


.home-product__pagination {
    margin: 40px 32px;
}

/* Danh sách trang */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 10px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #b75a66;

}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    display: block;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.pagination-item__icon {}


/* footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}


/* Điều kiện -- criteria  */
.criteria {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(231, 230, 230);
    height: 85px;
}


.criteria-img {
    height: 40px;
    width: 40px;
}

.criteria-list {
    list-style: none;
    margin-left: -24px;
}

.criteria-item {
    font-size: 1.4rem;
    color: #737373;
}

/* ----------------------------------- */
/* Quốc gia - country */
.country {
    display: flex;
    text-align: center;
    font-size: 1.4rem;
    color: #737373;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 0;
    border-top: 1px solid rgb(231, 230, 230);
}

.country-copyright {
    margin-left: 100px;
    color: #737373;
}

.country-list {
    margin-right: 100px;

}

.country-item {
    text-decoration: none;
    color: #737373;
}

.country-item-separate::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: rgb(197, 187, 187);
    margin-right: 10px;
    margin-left: 6px;
}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item {}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    display: block;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    margin-right: 8px;
    font-size: 1.6rem;
    vertical-align: middle;
}



.footer-item__icon-face {
    color: #3A5A98;
}

.footer-item__icon-ig {
    /* Kích thước icon */
    background: linear-gradient(to bottom left, #ed0832, #dec558);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-item__icon-linkedln {
    color: #3A5A98;
}

.footer__download {
    display: flex;
}

.footer__download-apps {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}


/* Danh riêng cho microssof */
.footer__download-mico {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 2px 0;
}

.footer__download-mico-tiltle {
    margin-left: 4px;
    font-size: 1.2rem;
    color: #555555;
    font-weight: 500;

}

.footer__copyright {
    margin-top: 16px;
    font-size: 1.4rem;
    color: #555555;
    text-align: center;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}




/* Thanh toán */
.pay__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1.2rem;
}

.pay-item {
    margin-right: 6px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(186, 184, 184, 0.5);
    font-size: 1.2rem;


}

.pay-item__link {
    text-decoration: none;

}

.pay-item__img {
    width: 40px;
    height: 22px;
    object-fit: contain;
}

/* Đơn vị vận chuyển -transport */

.shipping__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1.2rem;
}

.shipping-item {
    margin-right: 6px;
    border-radius: 2px;
    border: 0.00001px solid rgb(241, 239, 239);
    font-size: 1.2rem;
    box-shadow: 0 1px 2px rgba(186, 184, 184, 0.5);
    /* bóng đỏ ở dưới */
}


.shipping-item__img {
    width: 40px;
    height: 22px;
    object-fit: contain;
}